body {}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

body {
  font-family: "Fira Sans", Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #707070;
  font-size: 15px;
  line-height: 27px;
  background-color: #fff;
}

a {
  color: #ffb71b;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.swiper-sm.swiper-button-next,
.swiper-sm.swiper-button-prev {
  width: 24px;
  height: 28px;
  margin-top: 0px;
  cursor: pointer;
  background: rgb(255, 183, 27);
  color: rgb(255, 255, 255);
  border-radius: 8px;
}

.swiper-sm.swiper-button-next:after,
.swiper-sm.swiper-button-prev:after {
  font-size: 11px;
}

.swiper-big.swiper-button-next,
.swiper-big.swiper-button-prev {
  width: 26px;
  height: 30px;
  margin-top: 0px;
  cursor: pointer;
  background: rgb(255, 183, 27);
  color: rgb(255, 255, 255);
  border-radius: 8px;
}

.swiper-big.swiper-button-next::after,
.swiper-big.swiper-button-prev::after {
  font-size: 12px;
}

.slide-nav-wrapper .swiper-big.swiper-button-prev,
.slide-nav-wrapper .swiper-big.swiper-rtl .swiper-button-next {
  left: -40px;
  right: auto;
}

.slide-nav-wrapper .swiper-big.swiper-button-next,
.slide-nav-wrapper .swiper-big.swiper-rtl .swiper-button-prev {
  right: -40px;
  left: auto;
}

.swiper-button-next[aria-disabled="true"],
.swiper-button-prev[aria-disabled="true"] {
  opacity: 0.3;
  cursor: default;
}

#header {
  padding: 0px;
}

header #header.header-static {
  box-shadow: none;
  background: rgb(247, 247, 247);
}

.logo img {
  height: 48px;
}

.custom-header-widget {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.custom-sign-in {
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-header-widget>a {
  min-width: 70px;
  gap: 8px;
}

.custom-sign-in:hover {
  color: rgb(255, 183, 27);
}

.custom-sign-in:hover .c-icon {
  border-color: rgb(255, 183, 27);
  color: rgb(255, 183, 27);
}

.custom-sign-in:hover .custom-host-icon {
  background-color: rgb(255, 183, 27);
  border-color: rgb(255, 183, 27);
  color: white !important;
}

.custom-sign-in .c-icon {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(102, 103, 107);
  border-radius: 50%;
  color: rgb(102, 103, 107);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  font-size: 14px;
}

.custom-header-widget .c-text {
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
  color: rgb(136, 136, 136);
}

.custom-heart-icon {
  border-color: rgb(255, 183, 27) !important;
  color: rgb(255, 183, 27) !important;
}

.custom-host-icon {
  background-color: rgb(102, 103, 107);
  color: white !important;
}

.custom-host-icon:hover {
  background-color: rgb(102, 103, 107);
  border-color: rgb(102, 103, 107) !important;
  color: white !important;
}

.custom-sign-in i:hover {
  border-color: rgb(255, 183, 27);
  color: rgb(255, 183, 27);
}

.text-primary {
  color: rgb(255, 183, 27) !important;
}

.custom-product-h4 {
  position: absolute;
  top: 30px;
  left: 0px;
  padding-left: 15px;
}

.custom-product-ul {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.custom-country-select {
  border: unset;
  box-shadow: unset;
  font-weight: 600;
  display: block;
  font-size: 22px;
  text-decoration: underline;
  height: auto;
  width: auto;
  margin: 0px 5px;
  padding: 0px;
  color: rgb(44, 63, 80);
}

.custom-list-item-container {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(213, 213, 213);
  border-radius: 20px;
}

.ride-near-you-card {
  background: rgb(255, 255, 255);
  border-radius: 20px;
}

.ride-near-you-card-image {
  padding: 20px;
  border-radius: 12px;
}

.ride-near-you-card-image .swiper-sm {
  opacity: 0;
}

.ride-near-you-card-image:hover .swiper-sm {
  opacity: 1;
}

.listing-item:hover [class^="swiper-button-"]::after {
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}


.price-span s {
  text-decoration: line-through;
  color: rgb(0, 0, 0);
}

.custom-red-price {
  display: none;
  margin-left: 3.5rem;
  color: rgb(249, 25, 66);
}

.boxed-photo-banner-inner-text {
  margin-top: 0px;
  margin-left: 0px;
}

.custom-icon-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.custom-icon-box-inner {
  display: flex;
  width: 100%;
}

.custom-book-with-cavago .swiper-wrapper {
  padding: 10px;
  width: 100%;
}

.custom-bwc-icons {
  /* color: rgb(255, 183, 27); */
  /* font-size: 6rem !important; */
}

.book-with-cavago-title {
  width: 90%;
}

.book-with-cavago-title p {
  width: fit-content;
}

.book-with-cavago-title p {
  /* font-size: small; */
  line-height: 20px;
  width: fit-content;
}

.swiper-container [class^="swiper-button-"]::after {
  font-size: 10px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 183, 27);
  padding: 10px;
  border-radius: 5px;
}

.swiper-container [class^="swiper-button-prev"]::after {
  margin-right: 15px !important;
}

.swiper-container [class^="swiper-button-next"]::after {
  margin-left: 32px !important;
}

.cavago-tours-btn {
  background-color: rgb(255, 183, 27);
  width: 50%;
  border-radius: 10px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.main-navigation {
  border-top: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
}

.topnav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  align-items: center;
}

.topnav-wrapper .main-search-input {
  max-width: 570px;
}

.left-topnav {
  display: flex;
  align-items: center;
}

nav#navigation {
  width: 100%;
}

nav#navigation>ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.list-categories {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.discover-loc {
  width: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.discover-loc .swiper-slide {
  color: rgb(255, 183, 27);
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.discover-loc .swiper-button-next::after,
.discover-loc .swiper-button-prev::after {
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.discover-location-wrapper {
  position: relative;
}

.dl-lable {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-style: italic;
  font-weight: normal;
}

.dl-lable .fa {
  color: rgb(255, 183, 27);
}

.discover-location-wrapper .swiper-button-next,
.discover-location-wrapper .swiper-rtl .swiper-button-prev {
  right: -10px;
  left: auto;
}

.discover-location-wrapper .swiper-button-prev,
.discover-location-wrapper .swiper-rtl .swiper-button-next {
  left: -10px;
  right: auto;
}

h4.subheader-selectbox {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  font-size: 22px;
  font-weight: 600;
  color: rgb(44, 63, 80);
}

.section-header {
  margin: 0px 0px 10px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.q-details {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.hc-details {
  display: flex;
  gap: 10px;
}

.hc-details h6 {
  margin: 0px;
  font-weight: 500;
}

.w-btn {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  position: absolute;
  right: -5px;
  top: -5px;
}

h4.product-name {
  margin: 10px 0px;
  font-weight: 600;
  font-size: 17px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.pf-right {
  flex: 1 1 0%;
}

.pf-left {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
}

.pf-right button {
  display: block;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 4px 0px;
}

.price-details {
  display: flex;
  gap: 10px;
  font-size: 14px;
  text-align: center;
  justify-content: flex-start;
  line-height: 1.2;
}

.price-span {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 500;
  font-size: 12px;
}

.price-span>span {
  color: red;
}

.s-description {
  font-size: 12px;
  margin: 0px 0px 30px;
  line-height: 1;
}

.slide-nav-wrapper {
  position: relative;
}

.why-cavago-container {
  width: 100%;
}

.cavago-banners {
  overflow: hidden;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

.qr-scan-wrapper {
  display: flex;
  width: 70%;
  padding: 40px;
}

.qr-scan-wrapper h2 {
  color: rgb(255, 183, 27);
  margin: 0px 0px 20px;
}

.qr-scan-wrapper p {
  font-size: 16px;
  margin: 0px 0px 20px;
  display: block;
}

.subscribe-widget {
  position: relative;
}

.search-widget-wrapper input {
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  padding-right: 110px;
  height: 46px;
}

.subscribe-widget button {
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 4px 18px;
  height: 40px;
}

ul.blog-next {
  margin: 0;
  list-style: square;
}

ul.blog-next li a {
  display: block;
  padding: 10px 0;
  color: #2c3f50;
  font-weight: 400;
}

div#footer h3 {
  margin: 0 0 20px;
  font-size: 16px;
  color: #666;
}

.chat {
  position: fixed;
  right: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  bottom: 66px;
  margin: 0;
  z-index: 999;
  transition: all 0.35s ease 0s;
  transform: scale(0.7);
  width: 60px;
  height: 60px;
  background: #03a9f4;
  z-index: 9999;
  box-sizing: border-box;
}

.chat img {
  height: 30px;
}

.card-main-wrapper {
  position: relative;
  width: 450px;
}

@media (min-width: 1240px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 1367px) {
  .container {
    width: 90%;
    max-width: 1400px;
  }
}


@media (max-width: 1024px) {

  .swiper-big.swiper-button-next,
  .swiper-big.swiper-button-prev {
    display: none;
  }

  .right-topnav {
    display: none;
  }

  .left-topnav {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  #header {
    padding: 0px;
  }
}

@media only screen and (max-width: 980px) {
  .card-main {
    position: relative;
  }

  .card-main-wrapper {
    position: relative;
    width: 100%;
  }

  .boxed-photo-banner {
    background-color: rgb(44 61 77 / 97%);
    width: 60%;
    box-shadow: none;
  }

  .logo img {
    height: 38px;
  }

  .header-static .main-navigation {
    /* display: none; */
  }

  .topnav-wrapper {
    padding: 10px 0px;
  }

  .hero-section-wrapper {
    gap: 15px;
    flex-direction: column;
  }

  .card-main {
    top: 0px;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }

  .main-search-inner {
    position: relative;
    padding: 30px 0px;
  }

  .main-search-inner {
    transform: none;
  }

  .main-search-inner h2 {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    gap: 5px;
  }

  .main-search-inner p {
    font-size: 18px;
  }

  .main-search-inner p {
    text-align: center;
  }

  .list-categories {
    align-items: center;
    justify-content: center;
  }

  .main-search-inner h2 span {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: normal;
  }

  .main-search-input-item .chosen-container-single .chosen-single,
  .main-search-input-item .chosen-single.chosen-container-active {
    width: 100%;
  }

  .main-search-input-item {
    width: 100%;
  }

  .third-row {
    flex-direction: column-reverse;
  }

  .main-search-input {
    height: auto;
  }
}

@media (max-width: 767px) {

  h2,
  .h2 {
    font-size: 22px;
  }

  .partnership {
    width: 100px;
    height: 100px;
  }

  .qr-scan-wrapper {
    display: flex;
    width: 100%;
    padding: 20px;
  }

  .blog-compact-item-container {
    margin-bottom: 20px;
  }

  h4.subheader-selectbox {
    font-size: 16px;
  }

  .custom-country-select {

    font-size: 16px;
  }

  .cavago-banners {
    background-position: center bottom;
  }

  .boxed-photo-banner {
    display: flex;
    width: 100%;
    background-color: rgb(44 61 77 / 85%);
    box-shadow: none;
    padding: 30px;
  }

  .boxed-photo-banner h2 {
    color: rgb(255, 255, 255);
    font-size: 22px;
  }

  .boxed-photo-banner p {
    color: rgb(255, 255, 255);
    opacity: 1;
    font-size: 15px;
    margin: 0px 0px 20px;
    display: block;
    font-weight: 300;
  }
}

.swiper-sm.swiper-button-next,
.swiper-sm.swiper-button-prev {
  width: 24px;
  height: 28px;
  margin-top: 0px;
  cursor: pointer;
  background: rgb(255, 183, 27);
  color: rgb(255, 255, 255);
  border-radius: 8px;
}

.swiper-sm.swiper-button-next:after,
.swiper-sm.swiper-button-prev:after {
  font-size: 11px;
}

.swiper-big.swiper-button-next,
.swiper-big.swiper-button-prev {
  width: 26px;
  height: 30px;
  margin-top: 0px;
  cursor: pointer;
  background: rgb(255, 183, 27);
  color: rgb(255, 255, 255);
  border-radius: 8px;
}

.swiper-big.swiper-button-next::after,
.swiper-big.swiper-button-prev::after {
  font-size: 12px;
}

.slide-nav-wrapper .swiper-big.swiper-button-prev,
.slide-nav-wrapper .swiper-big.swiper-rtl .swiper-button-next {
  left: -40px;
  right: auto;
}

.slide-nav-wrapper .swiper-big.swiper-button-next,
.slide-nav-wrapper .swiper-big.swiper-rtl .swiper-button-prev {
  right: -40px;
  left: auto;
}

.swiper-button-next[aria-disabled="true"],
.swiper-button-prev[aria-disabled="true"] {
  opacity: 0.3;
  cursor: default;
}

#header {
  padding: 0px;
}

header #header.header-static {
  box-shadow: none;
  background: rgb(247, 247, 247);
}

.logo img {
  height: 48px;
}

.custom-header-widget {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.custom-sign-in {
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-header-widget>a {
  min-width: 70px;
  gap: 8px;
}

.custom-sign-in:hover {
  color: rgb(255, 183, 27);
}

.custom-sign-in:hover .c-icon {
  border-color: rgb(255, 183, 27);
  color: rgb(255, 183, 27);
}

.custom-sign-in:hover .custom-host-icon {
  background-color: rgb(255, 183, 27);
  border-color: rgb(255, 183, 27);
  color: white !important;
}

.custom-sign-in .c-icon {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(102, 103, 107);
  border-radius: 50%;
  color: rgb(102, 103, 107);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  font-size: 14px;
}

.custom-header-widget .c-text {
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
  color: rgb(136, 136, 136);
}

.custom-heart-icon {
  border-color: rgb(255, 183, 27) !important;
  color: rgb(255, 183, 27) !important;
}

.custom-host-icon {
  background-color: rgb(102, 103, 107);
  color: white !important;
}

.custom-host-icon:hover {
  background-color: rgb(102, 103, 107);
  border-color: rgb(102, 103, 107) !important;
  color: white !important;
}

.custom-sign-in i:hover {
  border-color: rgb(255, 183, 27);
  color: rgb(255, 183, 27);
}

.custom-product-h4 {
  position: absolute;
  top: 30px;
  left: 0px;
  padding-left: 15px;
}

.custom-product-ul {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.custom-country-select {
  border: unset;
  box-shadow: unset;
  font-weight: 600;
  display: block;
  font-size: 22px;
  text-decoration: underline;
  height: auto;
  width: auto;
  margin: 0px 5px;
  padding: 0px;
  color: rgb(44, 63, 80);
}

.custom-list-item-container {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(213, 213, 213);
  border-radius: 20px;
}

.ride-near-you-card {
  background: rgb(255, 255, 255);
  border-radius: 20px;
}

.ride-near-you-card-image {
  padding: 20px;
  border-radius: 12px;
}

.ride-near-you-card-image .swiper-sm {
  opacity: 0;
}

.ride-near-you-card-image:hover .swiper-sm {
  opacity: 1;
}

.listing-item:hover [class^="swiper-button-"]::after {
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}


.price-span s {
  text-decoration: line-through;
  color: rgb(0, 0, 0);
}

.custom-red-price {
  display: none;
  margin-left: 3.5rem;
  color: rgb(249, 25, 66);
}

.boxed-photo-banner-inner-text {
  margin-top: 0px;
  margin-left: 0px;
}

.custom-icon-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.custom-icon-box-inner {
  display: flex;
  width: 100%;
}

.custom-book-with-cavago .swiper-wrapper {
  padding: 10px;
  width: 100%;
}

.custom-bwc-icons {
  color: rgb(255, 183, 27);
  font-size: 4rem;
}

.book-with-cavago-title {
  width: 90%;
}

.book-with-cavago-title p {
  width: fit-content;
}

.book-with-cavago-title p {
  /* font-size: small; */
  line-height: 20px;
  width: fit-content;
}

.swiper-container [class^="swiper-button-"]::after {
  font-size: 10px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 183, 27);
  padding: 10px;
  border-radius: 5px;
}

.swiper-container [class^="swiper-button-prev"]::after {
  margin-right: 15px !important;
}

.swiper-container [class^="swiper-button-next"]::after {
  margin-left: 32px !important;
}

.cavago-tours-btn {
  background-color: rgb(255, 183, 27);
  width: 50%;
  border-radius: 10px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.main-navigation {
  border-top: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
}

.topnav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  align-items: center;
}

.topnav-wrapper .main-search-input {
  max-width: 570px;
}

.left-topnav {
  display: flex;
  align-items: center;
}

nav#navigation {
  width: 100%;
}

nav#navigation>ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.list-categories {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.discover-loc {
  width: 140px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.discover-loc .swiper-slide {
  color: rgb(255, 183, 27);
  font-size: 22px;
  font-weight: 500;
}

.discover-loc .swiper-button-next::after,
.discover-loc .swiper-button-prev::after {
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.discover-location-wrapper {
  position: relative;
  padding: 0px;
  width: 140px;
}

.discover-location-wrapper .swiper-wrapper,
.discover-location-wrapper .card-main-swiper {
  width: 140px;
}

.discover-location-wrapper .swiper-slide {
  width: 140px !important;
}

.dl-lable {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-style: italic;
  font-weight: normal;
}

.dl-lable .fa {
  color: rgb(255, 183, 27);
}

.discover-location-wrapper .swiper-button-next,
.discover-location-wrapper .swiper-rtl .swiper-button-prev {
  right: -10px;
  left: auto;
}

.discover-location-wrapper .swiper-button-prev,
.discover-location-wrapper .swiper-rtl .swiper-button-next {
  left: -10px;
  right: auto;
}

h4.subheader-selectbox {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  font-size: 22px;
  font-weight: 600;
  color: rgb(44, 63, 80);
}

.section-header {
  margin: 0px 0px 10px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.q-details {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.hc-details {
  display: flex;
  gap: 10px;
}

.hc-details h6 {
  margin: 0px;
  font-weight: 500;
}

.w-btn {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  position: absolute;
  right: -5px;
  top: -5px;
}

h4.product-name {
  margin: 10px 0px;
  font-weight: 600;
  font-size: 17px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.pf-right {
  flex: 1 1 0%;
}

.pf-left {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
}

.pf-right button {
  display: block;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 4px 0px;
}

.price-details {
  display: flex;
  gap: 10px;
  font-size: 14px;
  text-align: center;
  justify-content: flex-start;
  line-height: 1.2;
}

.price-span {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 500;
  font-size: 12px;
}

.price-span>span {
  color: red;
}

.s-description {
  font-size: 12px;
  margin: 0px 0px 30px;
  line-height: 1;
}

.slide-nav-wrapper {
  position: relative;
}

.why-cavago-container {
  width: 100%;
}

.cavago-banners {
  overflow: hidden;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

.qr-scan-wrapper {
  display: flex;
  width: 70%;
  padding: 40px;
}

.qr-scan-wrapper h2 {
  color: rgb(255, 183, 27);
  margin: 0px 0px 20px;
}

.subscribe-widget {
  position: relative;
}

.search-widget-wrapper input {
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  padding-right: 110px;
  height: 46px;
}

.subscribe-widget button {
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 4px 18px;
  height: 40px;
}

ul.blog-next {
  margin: 0;
  list-style: square;
}

ul.blog-next li a {
  display: block;
  padding: 10px 0;
  color: #2c3f50;
  font-weight: 400;
}

div#footer h3 {
  margin: 0 0 20px;
  font-size: 16px;
  color: #666;
}

.chat {
  position: fixed;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  bottom: 20px;
  margin: 0;
  z-index: 999;
  transition: all 0.35s ease 0s;
  transform: scale(0.7);
  width: 60px;
  height: 60px;
  background: #03a9f4;
  z-index: 9999;
  box-sizing: border-box;
  cursor: pointer;
}

.chat img {
  height: 30px;
}

.card-main-wrapper {
  position: relative;
  width: 450px;
}

/* bootstrap nav*/
.hero-section {
  padding-top: 128px;
}

.navigation-wrapper {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background: rgb(247 247 247);
}

.topnav-wrapper .main-search-input {
  display: none;
}

.sticky-header .topnav-wrapper .main-search-input {
  display: flex;
}

.sticky-header {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 12px 0px;
  transition: all .3s;
}

.navbar {
  padding: 0;
}

.m-widget {
  display: none;
}

.navbar .navbar-toggler {
  padding: .25rem 0;
}

.navbar .dropdown-menu {

  min-width: 12rem;
  font-size: 14px;
  border: 0;
  border-radius: .25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.navbar-brand {
  display: none;
}

.navbar-nav {
  width: 100%;
  justify-content: space-between;
}

.top-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.logo-wrapper {
  width: 180px;
}

.nav-account {
  align-items: center;
  display: flex;
}

.nav-account-list {
  display: flex;
  gap: 10px;
}

.nav-account-list>a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  min-width: 65px;
}

.nav-account-list>a>i {
  width: 32px;
  height: 33px;
  border: 1px solid #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-account-list>a>span {
  font-size: 12px;
  font-weight: 500;
}


.navbar .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0;
  vertical-align: .255em;
  content: "";
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

.navbar .dropdown-toggle::after {
  content: "\f107";
  font-family: "FontAwesome";
  padding-left: 5px;
  position: relative;
  top: 5px;
}

.navbar .nav-link {
  font-weight: 500;
  font-size: 15px;
  color: #2d4051;
}

@media (min-width: 1240px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 1367px) {
  .container {
    max-width: 100%;
    width: 100%;
    padding: 0 80px;
  }
}


@media (max-width: 1024px) {

  .swiper-big.swiper-button-next,
  .swiper-big.swiper-button-prev {
    display: none;
  }

  .right-topnav {
    display: none;
  }

  .left-topnav {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  #header {
    padding: 0px;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-brand {
    display: block;
  }

  .m-widget {
    display: block;
  }

  .custom-header-widget.m-widget {
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 0;
    border-top: 1px solid #ebebeb;
    margin: 10px 0 4px 0px;
  }

  .navbar .dropdown-toggle::after {
    position: absolute;
    right: 0;
    top: 7px;
    font-size: 16px;
  }

  .navbar .nav-link {
    position: relative;
  }

  .navbar .dropdown-menu {
    border: 0;
    background: #fff;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }

  .navbar .dropdown-menu .dropdown-item {

    padding: .25rem 0;
  }

  .navbar-nav>.nav-item {
    border-bottom: 1px solid #e5e5e5;
  }

  .navbar-nav>.nav-item:last-child {
    border-bottom: 0;
  }

  nav.navbar {
    padding: .5rem 1rem;
  }

  .card-main {
    position: relative;
  }

  .card-main-wrapper {
    position: relative;
    width: 100%;
  }

  .boxed-photo-banner {
    background-color: rgb(44 61 77 / 97%);
    width: 60%;
    box-shadow: none;
  }

  .logo img {
    height: 38px;
  }

  .topnav-wrapper {
    padding: 10px 0px;
    display: none;
  }

  .hero-section-wrapper {
    gap: 15px;
    flex-direction: column;
  }

  .card-main {
    top: 0px;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }

  .main-search-inner {
    position: relative;
    padding: 30px 0px;
  }

  .main-search-inner {
    transform: none;
  }

  .main-search-inner h2 {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    gap: 5px;
  }

  .main-search-inner p {
    font-size: 18px;
  }

  .main-search-inner p {
    text-align: center;
  }

  .list-categories {
    align-items: center;
    justify-content: center;
  }

  .main-search-inner h2 span {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: normal;
  }

  .main-search-input-item .chosen-container-single .chosen-single,
  .main-search-input-item .chosen-single.chosen-container-active {
    width: 100%;
  }

  .main-search-input-item {
    width: 100%;
  }

  .third-row {
    flex-direction: column-reverse;
  }

  .main-search-input {
    height: auto;
  }
}

@media (max-width: 767px) {

  h2,
  .h2 {
    font-size: 22px;
  }

  .partnership {
    width: 100px;
    height: 100px;
  }

  .qr-scan-wrapper {
    display: flex;
    width: 100%;
    padding: 20px;
  }

  .blog-compact-item-container {
    margin-bottom: 20px;
  }

  h4.subheader-selectbox {
    font-size: 16px;
  }

  .custom-country-select {

    font-size: 16px;
  }

  .cavago-banners {
    background-position: center bottom;
  }

  .boxed-photo-banner {
    display: flex;
    width: 100%;
    background-color: rgb(44 61 77 / 85%);
    box-shadow: none;
    padding: 30px;
  }

  .boxed-photo-banner h2 {
    color: rgb(255, 255, 255);
    font-size: 22px;
  }

  .boxed-photo-banner p {
    color: rgb(255, 255, 255);
    opacity: 1;
    font-size: 15px;
    margin: 0px 0px 20px;
    display: block;
    font-weight: 300;
  }

  .footer-links li a {
    font-size: 12px;
  }
}